<div class="panel panel-default">
	<div class="panel-heading">
		<h4>About Example heading</h4>
	</div>
	<div class="panel-body">
		<p>panel body</p>
	</div>
	<div class="panel-footer">
		<p>panel footer</p>
	</div>
</div>
{{yield}}
