<div id="chat" class="panel panel-default">
	<div class="panel-heading">
		<h4>Chat</h4>
	</div>
	<div class="panel-body">
		<ul id="messages">
			{{#each messages as |message|}}
				<li>
				<div class="header">
					<string class="primary-font">{{message.name}}</string>
				</div>
				<p>{{message.message}}</p>
				</li>
			{{/each}}
		</ul>
	</div>
	<div class="panel-footer">
		<div class="input-group">
			{{input type="text" value=message class="form-control input-sm send" placeholder="Insert youro message here ..."}}
			<span class="input-group-btn">
				<button class="btn btn-warning btn-sm" {{action 'send'}}>Send</button>
			</span>
		</div>
	</div>
</div>
{{yield}}
