<div id="code-editor" class="panel panel-default">
	<div class="panel-heading">
		<h4>Editor</h4>
	</div>
	<div class="panel-body">
		<div id="editor"></div>
	</div>
	<div class="panel-footer">
		<button class="btn btn-primary btn-block" {{action 'save'}}>Save</button>
	</div>
</div>
{{yield}}
