<div class="panel panel-default">
	<div class="panel-heading">
		<h4>Posts</h4>
	</div>
	<div class="panel-body">
		{{#each posts as |post|}}
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>{{post.title}}</h4>
				</div>
				<div class="panel-body">
					<p>{{post.body}}</p>
					<hr>
					<p><small>ID: {{post.id}}</small></p>
					<p><small>Author: {{post.author}}</small></p>
				</div>
				<div class="panel-footer">
					{{yield}}
				</div>
			</div>
		{{/each}}
	</div>
</div>

