.navbar {
	/*border: 1px solid blue;*/
	min-height: 35px;
	margin-bottom: 0px;
}
.navbar li {
	/*border: 1px solid blue;*/
	transition: all background-color !important;
}
.navbar-toggle {
	/*border: 1px solid red !important;*/
}
.navbar .container-fluid {
	/*border: 1px solid green;*/
	margin: 0px;
}
.panel .panel-footer p {
	margin: 0px;
}
.panel .panel-heading h4 {
	margin: 0px;
}
.panel .panel-body p {
	margin: 0px;
}
.panel .panel-body hr {
	margin: 3px;
	margin-bottom: 5px;
}

#code-editor #editor {
	/*border: 1px solid #000;*/
	min-height: 250px;
}
#code-editor .panel-body {
	padding: 0px;
}

#login {
	width: 400px;
}
#register {
	width: 500px;
}

#chat {
	/*border: 1px solid #000;*/
	margin: 2px;
	position: fixed;
	right: 0px;
	bottom: 0px;
	width: 325px;
}
#chat ul {
	/*border: 1px solid red;*/
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#chat ul li {
	/*border: 1px solid blue;*/
	padding: 5px;
}
#chat ul li:after {
	display: block;
	border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
	content: ""
}
#chat .primary-font {
	font-weight: bold;
}
#chat .header:before {
	content: "";
	display: block;
	margin-top: 5px;
	border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
}
#chat .header:after {
	display: block;
	/*margin-top: 3px;*/
	border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
	content: ""
}
#chat .panel-body {
	margin: 0px;
	padding: 0px;
	overflow: auto;
	height: 250px;
}
