<h2>Chat Messages</h2>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>ID: </th>
			<th>Name: </th>
			<th>Message: </th>
		</tr>
	</thead>
	<tbody>
		{{#each model as |message|}}
			<tr>
				<td>{{message.id}}</td>
				<td>{{message.name}}</td>
				<td>{{message.message}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>

{{outlet}}
