<ul class="nav nav-pills">
	{{#link-to 'admin' tagName='li'}}<a href="#">Admin</a>{{/link-to}}
	{{#link-to 'admin.posts' tagName='li'}}<a href="#">Posts</a>{{/link-to}}
	{{#link-to 'admin.chat-messages' tagName='li'}}<a href="#">Chat Messages</a>{{/link-to}}
</ul>
