<br>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Author</th>
			<th>Body</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		{{#each model as |post|}}
			<tr>
				<td>{{post.id}}</td>
				<td>{{post.title}}</td>
				<td>{{post.author}}</td>
				<td>{{post.body}}</td>
				<td><button class="btn btn-danger btn-xs btn-block" {{action 'delete' post}}>Delete</button></td>
			</tr>
		{{/each}}
	</tbody>
</table>
<table class="table table-bordered">
	{{#each model as |post|}}
		<tbody>
			<tr>
				<th>ID: </th>
				<td>{{post.id}}</td>
			</tr>
			<tr>
				<th>Title: </th>
				<td>{{post.title}}</td>
			</tr>
			<tr>
				<th>Author: </th>
				<td>{{post.author}}</td>
			</tr>
			<tr>
				<th>Body: </th>
				<td>{{post.body}}</td>
			</tr>
			<tr>
				<th>Actions: </th>
				<td><button class="btn btn-danger btn-xs" {{action 'delete' post}}>Delete</button></td>
			</tr>
		</tbody>
	{{/each}}
</table>

