{{partial 'navbar'}}

<div class="container-fluid">
	{{!-- <div class="jumbotron"> --}}
		{{!-- <h1>application</h1> --}}
		{{!-- <p>Dolor unde nisi officia ipsum corrupti hic officia Deserunt harum.</p> --}}
		{{!-- </div> --}}

	{{outlet}}
</div>

{{chat-app messages=model}}
