<h2>Home</h2>

<div class="row">
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Posts</h4>
			</div>
			<div class="panel-body">
				{{#each model as |model|}}
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4>{{model.title}}</h4>
						</div>
						<div class="panel-body">
							<p>{{model.body}}</p>
							<hr>
							<p><small>ID: {{model.id}}</small></p>
							<p><small>Author: {{model.author}}</small></p>
						</div>
						<div class="panel-footer">
							<button class="btn btn-danger btn-xs" {{action 'delete' model}}>Delete</button>
						</div>
					</div>
				{{/each}}
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Add New Post</h4>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label>Title</label>
					{{input type="text" value=title class="form-control" placeholder="place post title here"}}
				</div>
				<div class="form-group">
					<label>Body</label>
					{{textarea value=body class="form-control" rows="7" placeholder="place post body here"}}
				</div>
				<button {{action 'save'}} class="btn btn-primary btn-block">Save</button>
			</div>
			<div class="panel-footer">
				<p>Panel footer</p>
			</div>
		</div>
	</div>
</div>


{{outlet}}
