<br>

<div class="container">
	<div id="login" class="panel panel-default center-block">
		<div class="panel-heading">
			<h4>Log In</h4>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label>Email</label>
				{{input type="text" placeholder="place ur email here" class="form-control"}}
			</div>
			<div class="form-group">
				<label>Password</label>
				{{input type="password" placeholder="place ur password here" class="form-control"}}
			</div>
			<button class="btn btn-primary btn-block">Log In</button>
		</div>
		<div class="panel-footer">
			<ul class="nav">
				{{#link-to 'register' tagName='li'}}<a href="#">Create an account?</a>{{/link-to}}
			</ul>
		</div>
	</div>
</div>

{{outlet}}
