<nav class="navbar navbar-default">
<div class="container-fluid">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">Project name</a>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
		<ul class="nav navbar-nav">
			{{#link-to 'index' tagName='li'}}<a href="#">Home</a>{{/link-to}}
			{{#link-to 'about' tagName='li'}}<a href="#">About</a>{{/link-to}}
			{{!-- <li><a href="#">Contact</a></li> --}}
			{{!-- <li class="dropdown"> --}}
			{{!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a> --}}
			{{!-- <ul class="dropdown-menu"> --}}
				{{!-- <li><a href="#">Action</a></li> --}}
				{{!-- <li><a href="#">Another action</a></li> --}}
				{{!-- <li><a href="#">Something else here</a></li> --}}
				{{!-- <li role="separator" class="divider"></li> --}}
				{{!-- <li class="dropdown-header">Nav header</li> --}}
				{{!-- <li><a href="#">Separated link</a></li> --}}
				{{!-- <li><a href="#">One more separated link</a></li> --}}
			{{!-- </ul> --}}
			{{!-- </li> --}}
		</ul>
		<ul class="nav navbar-nav navbar-right">
			{{#link-to 'login' tagName='li'}}<a href="#">Login</a>{{/link-to}}
			{{#link-to 'register' tagName='li'}}<a href="#">Register</a>{{/link-to}}
			{{#link-to 'admin' tagName='li'}}<a href="#">Admin</a>{{/link-to}}
			{{!-- <li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li> --}}
			{{!-- <li><a href="../navbar-static-top/">Static top</a></li> --}}
			{{!-- <li><a href="../navbar-fixed-top/">Fixed top</a></li> --}}
		</ul>
	</div><!--/.nav-collapse -->
</div><!--/.container-fluid -->
</nav>
