<br>

<div class="container">
	<div id="register" class="panel panel-default center-block">
		<div class="panel-heading">
			<h4>Register</h4>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label>Name</label>
				{{input type="text" placeholder="place ur name here" class="form-control"}}
			</div>
			<div class="form-group">
				<label>Email</label>
				{{input type="text" placeholder="place ur email here" class="form-control"}}
			</div>
			<div class="form-group">
				<label>Password</label>
				{{input type="password" placeholder="place ur password here" class="form-control"}}
			</div>
			<div class="form-group">
				<label>Confirm Password</label>
				{{input type="password" placeholder="confirm your password" class="form-control"}}
			</div>
			<button class="btn btn-primary btn-block">Register</button>
		</div>
		<div class="panel-footer">
			<ul class="nav">
				{{#link-to 'login' tagName='li'}}<a href="#">Already have an account? Log In!</a>{{/link-to}}
			</ul>
		</div>
	</div>
</div>
{{outlet}}
